<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= form_with(model: @user, url: user_update_working_hours_approval_path(@user), method: :patch, local: true) do |f| %>
        <% @users.each do |user| %>
          <h2>【<%= user.name %>からの勤怠変更申請】</h2>
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                <th rowspan="3">日付</th>
                <th rowspan="3">曜日</th>
                <th colspan="4">変更前</th>
                <th colspan="4">変更後</th>
                <th rowspan="3">備考</th>
                <th rowspan="3">指示者確認印</th>
                <th rowspan="3">変更</th>
                <th rowspan="3">勤怠を確認する</th>
              </tr>
              <tr>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
              </tr>
              <tr>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
              </tr>
            </thead>
              <% @attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |d| %>
                <% if day.user_id == user.id %>
                <tbody>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td><%= $days_of_the_week[day.worked_on.wday] %></td>

                    <td><%= format_hour(day.started_at) if day.started_at.present? %></td>
                    <td><%= format_min(day.started_at) if day.started_at.present? %></td>
                    <td><%= format_hour(day.finished_at) if day.finished_at.present? %></td>
                    <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>

                    <td><%= format_hour(day.started_at_edited) if day.started_at_edited.present? %></td>
                    <td><%= format_min(day.started_at_edited) if day.started_at_edited.present? %></td>
                    <td><%= format_hour(day.finished_at_edited) if day.finished_at_edited.present? %></td>
                    <td><%= format_min(day.finished_at_edited) if day.finished_at_edited.present? %></td>
                    <td><%= day.note %></td>
                    <td><%= d.select :status_working_hours, [['なし'], ['申請中'], ['承認'], ['否認']], { include_blank: false, selected: 1 } %></td>
                    <td><%= d.check_box :change_working_hours, {}, "true", "false" %></td>
                    <td><%= link_to '確認', attendance_confirmation_user_path(day.user_id), class: "btn btn-primary" %></td>
                  </tr>
                 </tbody>
                 <% end %>
                <% end %>
              <% end %>
          </table>
        
         <% end %>
        <div class="center">
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>