<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
      <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn" %>
      【<%= l(@first_day, format: :middle) %>】勤怠管理表
      <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn" %>
      </td>
      <td>指定勤務開始時間 <%= format_basic_info(@user.designated_work_start_time) %><br>
      指定勤務終了時間 <%= format_basic_info(@user.designated_work_end_time) %></td>
      <td>基本勤務時間 <%= format_basic_info(@user.basic_work_time) %></td>
      <td>月初日 <%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月末日 <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<%# 上長ならば以下の該当する項目を表示 %>
<% if @user.superior? %>
  <div>
    <ul style="list-style: none;">

      <% if @count_monthly_request >= 1 %>
        <li>
          <%= link_to '【所属長承認申請のお知らせ】', attendances_edit_monthly_approval_user_path(@user), remote: true, :style=>"color:red;" %>
          <b style="color: #F00; border: 1px solid #F00"><%= @count_monthly_request %>件のお知らせがあります</b>
        </li>
      <% else %>
        <li>【所属長承認申請のお知らせ】</li>
      <% end %>
      
      <% if @count_working_hours_request >= 1 %>
        <li>
          <%= link_to '【勤怠変更申請のお知らせ】', user_edit_working_hours_approval_path(@user), remote: true, :style=>"color:red;" %>
          <b style="color: #F00; border: 1px solid #F00"><%= @count_working_hours_request %>件のお知らせがあります</b>
        </li>
      <% else %>
        <li>【勤怠変更申請のお知らせ】</li>
      <% end %>

      <% if @count_overtime_request >= 1 %>
        <li>
          <%= link_to '【残業申請のお知らせ】', user_edit_overtime_approval_path(@user), remote: true, :style=>"color:red;" %>
          <b style="color: #F00; border: 1px solid #F00"><%= @count_overtime_request %>件のお知らせがあります</b>
        </li>
      <% else %>
        <li>【残業申請のお知らせ】</li>
      <% end %>

    </ul>
  </div>
<% end %>


<div class="btn-users-show">

  <%= link_to "勤怠編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <%= link_to 'CSV出力', "#", class: "btn btn-primary" %><br>
  <%= link_to '勤怠修正ログ(承認済)', "#", class: "btn btn-primary" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
      <th colspan = "3"></th>
      <th colspan = "8">実績</th>
      <th colspan = "5">所定外業務</th>
      </tr>
      <tr>
        <th rowspan = "2">残業申請</th>
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認(印)</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>出勤登録</th>
        <th>時</th>
        <th>分</th>
        <th>退勤登録</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to '残業申請', edit_overtime_request_user_attendance_path(@user, day), remote: true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>

          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at, format: :min) if day.started_at.present? %></td>
          <td>
            <% if attendance_state?(day) && day.started_at.nil? %>
              <%= link_to "出勤登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at, format: :min) if day.finished_at.present? %></td>
          <td>
            <% if attendance_state?(day) && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "退勤登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <%# @total_working_timesに在社時間をループで代入し続ける(表示は下の部分で行う) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <%# 備考 %>
          <td><%= day.note %></td>
          <%# 終了予定時間 %>
          <td><%= l(day.estimated_overtime_hours, format: :hour) if day.estimated_overtime_hours.present? %></td>
          <td><%= l(day.estimated_overtime_hours, format: :min) if day.estimated_overtime_hours.present? %></td>
          <%# 時間外時間 %>
          <td><%= working_times(@user.designated_work_end_time, day.estimated_overtime_hours) if day.estimated_overtime_hours.present? %></td>
          <td><%= day.business_process_content %></td>
          
          <% if day.selector_overtime_approval == '承認' %>
            <td>残業承認済み</td>
            
          <% elsif day.selector_overtime_request == 2 %>
            <td>上長1に申請中</td>
          <% elsif day.selector_overtime_request == 3 %>
            <td>上長2に申請中</td>
          <% else %>
            <td></td>
          <% end %>

          
                 
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="9"></td>
        <td><strong>累計在社時間</strong><br>
            <%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>

        <td>
          
          <%# 1ヶ月所属長承認 %>        
          <%= form_with(model: @attendances, url: attendances_update_monthly_request_user_path(@user), method: :patch, local: true) do |f| %>
            
            <ul style="list-style: none;">
              <li><%= @status_updated %></li>
            </ul>
                        
            <%= f.hidden_field :date_monthly_request, :value => @first_day %>
            <%= f.hidden_field :status_monthly_request, :value => "申請中" %>
            <%= f.select :selector_monthly_request, [['上長1', 2], ['上長2', 3]], { include_blank: true }, { class: "form-control" } %>
            <%= f.submit '申請', class: "btn btn-primary btn-block" %>
          <% end %>
          
        </td>
      </tr>
    </tfoot>

  </table>
</div>
<!--モーダルウインドウ表示-->
<div id="edit-overtime-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overtime-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit-working-hours-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit-monthly-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>