<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>
      <h1 class="modal-title">拠点情報の編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= form_with(model: @branch_office, url: branch_office_path,
                                              local: true, method: :patch) do |f| %>
                      
            <%= f.label :branch_office_number, "拠点番号", class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :branch_office_number, class: "form-control" %>
            <%= f.label :branch_office_name, "拠点名",class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :branch_office_name, class: "form-control" %>
            <%= f.label :attendance_type, "勤怠種類",class: "label-#{yield(:class_text)}" %>
            <%= f.select :attendance_type, [['なし'], ['出勤'], ['退勤']],
                        { include_blank: true }, { id: "attendance_type", class: "form-control" } %><br>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary form-control" %>
            </div>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>