<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">

    <div class="modal-header", style="border:none">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_monthly_approval_user_path(@user), method: :patch, local: true) do |f| %>
        <% @users.each do |user| %>
          <p class="center">【<%= user.name %>】からの1ヶ月分勤怠申請</p>

          <table class="table table-bordered table-condensed overtime-table">
            <thead>
              <tr>
                <th>月</th>
                <th>指示者確認印</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
            </thead>
            <% @attendances.each do |day| %>
              <%= f.fields_for "attendances[]", day do |d| %>
                <% if day.user_id == user.id %>
                  <tbody>
                    <tr class="center">
                      <td><%= l(day.date_monthly_request, format: :month_customed) %></td>
                      <td><%= d.select :status_monthly, [['申請中'], ['承認'], ['否認'], ['なし']], { include_blank: false, selected: 1 } %></td>
                      <td><%= d.check_box :change_monthly, {}, "true", "false" %></td>
                      <td><%= link_to '確認', attendance_confirmation_user_path(user), class: "btn btn-primary" %></td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            <% end %>
          </table> 
        <% end %>
          <div class="center">
            <%= f.submit '変更を送信する', class: "btn btn-primary btn-block" %>
          </div>
      <% end %>
    </div>
      
    
  </div>
</div>